<header
  class="fixed left-0 right-0 top-0 z-50 p-8 transition-all duration-300 ease-in-out"
  [class.text-white]="!isMenuOpen && !isAuthPage"
  [class.text-black]="isMenuOpen || isAuthPage"
  [class.bg-gray-100]="isMenuOpen"
  [class.bg-white]="isAuthPage && !isMenuOpen"
  [class.bg-gradient-to-b]="!isMenuOpen && !isAuthPage"
  [class.from-black]="!isMenuOpen && !isAuthPage"
  [class.-translate-y-full]="!isHeaderVisible"
>
  <div class="flex items-center justify-between">
    <div class="flex flex-row items-center gap-2">
      <div
        class="h-8 w-[1px]"
        [class.bg-white]="!isMenuOpen && !isAuthPage"
        [class.bg-black]="isMenuOpen || isAuthPage"
      ></div>
      <div
        class="text-xs uppercase tracking-widest"
        [class.text-white]="!isMenuOpen && !isAuthPage"
        [class.text-black]="isMenuOpen || isAuthPage"
      >
        Curated hotels from <br />
        The Real Housewives
      </div>
    </div>

    <div>
      <a
        routerLink="/"
        class="fixed left-1/2 top-8 z-30 w-full -translate-x-1/2 text-center font-serif text-5xl font-bold"
        [class.text-white]="!isMenuOpen && !isAuthPage"
        [class.text-black]="isMenuOpen || isAuthPage"
        >The Suite Life</a
      >
    </div>

    <button (click)="toggleMenu()" class="z-50 p-2">
      <svg
        *ngIf="!isMenuOpen"
        xmlns="http://www.w3.org/2000/svg"
        class="h-8 w-8"
        [class.text-white]="!isAuthPage"
        [class.text-black]="isAuthPage"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="1.5"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
      <svg
        *ngIf="isMenuOpen"
        xmlns="http://www.w3.org/2000/svg"
        class="h-8 w-8 text-black"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="1.5"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
</header>
<!-- Ensure this closing tag is present -->

<div
  *ngIf="isMenuOpen"
  class="fixed inset-0 z-40 flex min-h-screen flex-col justify-between overflow-hidden bg-gray-100 p-8 pt-32 text-black"
  [@fadeSlideInOut]
>
  <div class="flex flex-grow items-center">
    <nav class="w-full md:w-1/2">
      <ul class="group space-y-2">
        <li class="group-hover:text-gray-400">
          <a routerLink="/explore-map" (click)="closeMenu()" class="menu-link">Explore the map</a>
        </li>
        <li class="group-hover:text-gray-400">
          <a routerLink="/search" (click)="closeMenu()" class="menu-link">Browse by series</a>
        </li>
        <li class="group-hover:text-gray-400">
          <a routerLink="/housewives" (click)="closeMenu()" class="menu-link"
            >Housewives in the wild</a
          >
        </li>
        <li class="group-hover:text-gray-400">
          <a routerLink="/about" (click)="closeMenu()" class="menu-link">About us</a>
        </li>
        <li class="group-hover:text-gray-400">
          <a routerLink="/contact" (click)="closeMenu()" class="menu-link">Get in touch</a>
        </li>
        <!-- Authentication Links -->
        <ng-container *ngIf="!isLoggedIn()">
          <li class="group-hover:text-gray-400">
            <a routerLink="/login" (click)="closeMenu()" class="menu-link">Login</a>
          </li>
          <li class="group-hover:text-gray-400">
            <a routerLink="/register" (click)="closeMenu()" class="menu-link">Register</a>
          </li>
        </ng-container>
        <ng-container *ngIf="isLoggedIn()">
          <li class="group-hover:text-gray-400">
            <a routerLink="/account/profile" (click)="closeMenu()" class="menu-link">My Account</a>
          </li>
          <li class="group-hover:text-gray-400">
            <button (click)="logout(); closeMenu()" class="menu-link w-full text-left">
              Logout
            </button>
          </li>
        </ng-container>
      </ul>

      <div class="relative mt-12">
        <input
          type="text"
          placeholder="Search by Location, Trip or Wife"
          class="w-full border-b border-gray-400 bg-transparent py-2 placeholder-gray-500 focus:border-black focus:outline-none"
        />
        <button class="absolute right-0 top-1/2 -translate-y-1/2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-gray-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="1.5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            />
          </svg>
        </button>
      </div>
    </nav>
  </div>

  <div class="absolute bottom-8 right-8 text-right">
    <ul class="mb-4 space-y-1 text-xs uppercase tracking-widest">
      <li><a href="#" target="_blank" class="hover:underline">Facebook</a></li>
      <li><a href="#" target="_blank" class="hover:underline">Instagram</a></li>
      <li>
        <a href="#" target="_blank" class="hover:underline">1AX Consulting</a>
      </li>
    </ul>
    <img src="/image_10.jpg" alt="Menu Image" class="ml-auto h-auto w-32" />
  </div>
</div>
