<!-- Using a button element, can be adapted for routerLink if needed via Input -->
<button
  class="hover-effect-button relative z-10 inline-block overflow-hidden rounded-full transition-colors duration-300 ease-in-out"
  [ngClass]="customClasses"
  (mousemove)="onButtonMouseMove($event)"
  (mouseleave)="onButtonMouseLeave($event)"
  (click)="onClick.emit($event)"
>
  <!-- Keep relative z-10 on inner span, add inherit for text color -->
  <span class="relative z-10 mt-1 flex items-center justify-center gap-2 text-inherit">
    <!-- Optional Icon -->
    <svg
      *ngIf="type === 'svg' && iconSvgPath"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class=""
      [style.height]="h || '1rem'"
      [style.width]="w || '1rem'"
    >
      <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="iconSvgPath" />
    </svg>
    <img
      *ngIf="type === 'img' && iconSvgPath"
      [src]="iconSvgPath"
      alt="Icon"
      class=""
      [style.height]="h || '1rem'"
      [style.width]="w || '1rem'"
    />
    <!-- Button Text -->
    {{ buttonText }}
  </span>
  <!-- Add absolute bg-black rounded-full transform -translate-x-1/2 -translate-y-1/2 -z-10 to hover-circle -->
  <span
    *ngIf="theme === 'dark'"
    class="hover-circle absolute -z-10 block -translate-x-1/2 -translate-y-1/2 transform rounded-full bg-white"
  ></span>
  <span
    *ngIf="theme === 'light'"
    class="hover-circle absolute -z-10 block -translate-x-1/2 -translate-y-1/2 transform rounded-full bg-black"
  ></span>
</button>
