img {
  transition: transform 0.2s ease-out;
  will-change: transform;
  position: absolute;
}

:host {
  display: block;
  width: 100%;
  position: relative;
}

:root,
body {
  overflow-x: hidden;
}

.hero-text-center,
.hero-text-bottom {
  opacity: 0;
  transform: translateY(30px);
  transition:
    transform 0.95s ease-out,
    opacity 0.95s ease-out;
  transition-delay: 0.4s;
}

.scattered-images-container img {
  opacity: 0;
  transform: translateX(-30px);
  transition:
    transform 0.7s ease-out,
    opacity 0.7s ease-out;
}

.scattered-images-container img:nth-child(1) {
  transition-delay: 0.1s;
}
.scattered-images-container img:nth-child(2) {
  transition-delay: 0.2s;
}
.scattered-images-container img:nth-child(3) {
  transition-delay: 0.3s;
}
.scattered-images-container img:nth-child(4) {
  transition-delay: 0.4s;
}
.scattered-images-container img:nth-child(5) {
  transition-delay: 0.5s;
}
.scattered-images-container img:nth-child(6) {
  transition-delay: 0.6s;
}

.scattered-images-container img {
  transition:
    transform 0.2s ease-out,
    opacity 0.7s ease-out;
}

.scroll-indicator::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
  transition: width 0.1s linear;
}

.search-bar {
  transition: all 0.3s ease-out;
}

.hidden-search-options {
  opacity: 0;
  transform: translateY(-10px) scale(0.98);
  pointer-events: none;

  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
}

.search-bar.is-focused .hidden-search-options {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}

.search-bar.is-focused {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.guest-selector-popup {
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out;
}

.guest-selector-popup button {
  transition: background-color 0.2s ease-out;
}

:host ::ng-deep .p-datepicker-header {
  background-color: rgb(0 0 0 / 0.95);
  font-family: 'Sans';
}

:host ::ng-deep .p-datepicker-input {
  background-color: rgb(0 0 0 / 0.95);
  font-size: 14px;
  line-height: 20px;
  background-color: rgb(0 0 0 / 0.95) !important;
  color: #aaa !important;
  border: none;
  box-shadow: none !important;
  cursor: pointer;
  position: relative;
}

:host ::ng-deep .p-datepicker-panel {
  background-color: rgb(0 0 0 / 0.95);
  border-radius: 2rem;
}

:host ::ng-deep .p-datepicker table td {
  padding: 0.3rem;
}

:host ::ng-deep .p-datepicker table td span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid transparent;
  color: white;
  transition:
    background-color 0.2s,
    color 0.2s,
    border-color 0.2s;
}

:host ::ng-deep .p-datepicker table td:not(.p-datepicker-other-month) span:not(.p-disabled):hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.3);
}

:host ::ng-deep .p-datepicker table td.p-datepicker-today span {
  border-color: rgba(255, 255, 255, 0.164);
}

:host ::ng-deep .p-datepicker table td span.p-highlight {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  border-color: white;
}
:host ::ng-deep .p-datepicker table td span.p-highlight:hover {
  background-color: white;
}

:host ::ng-deep .p-datepicker table td.p-datepicker-selected-range span {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 0;
}
:host ::ng-deep .p-datepicker table td.p-datepicker-range-start span {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
:host ::ng-deep .p-datepicker table td.p-datepicker-range-end span {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

:host ::ng-deep .p-datepicker table th {
  color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem 0;
}

:host ::ng-deep .p-datepicker .p-datepicker-title a {
  color: white;
}
:host ::ng-deep .p-datepicker .p-datepicker-title a:hover {
  color: rgba(255, 255, 255, 0.95);
}

:host ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-prev,
:host ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-next {
  color: rgba(255, 255, 255, 0.7);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
:host ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-prev:hover,
:host ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-next:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

:host ::ng-deep .p-datepicker table td span:focus {
  box-shadow: none;
}
:host ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-prev:focus,
:host ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-next:focus {
  box-shadow: none;
}
