<div #continentListHost class="continent-list-container relative overflow-hidden">
  <div #backgroundImages class="background-images hidden md:block">
    <div class="image-layer previous-layer">
      <div
        *ngFor="let slot of previousImageSlots; let i = index"
        class="image-slot previous-slot"
        [class.exiting]="previousSlotState[i] === 'exiting'"
      >
        <img
          *ngIf="slot"
          [src]="slot"
          [alt]="'Previous Hotel Image ' + (i + 1)"
          class="continent-image"
        />
      </div>
    </div>

    <div class="image-layer current-layer">
      <div
        *ngFor="let slot of currentImageSlots; let i = index"
        class="image-slot current-slot"
        [class.entering]="currentSlotState[i] === 'entering'"
      >
        <img
          *ngIf="slot"
          [src]="slot"
          [alt]="'Current Hotel Image ' + (i + 1)"
          class="continent-image"
        />
      </div>
    </div>
  </div>

  <div #listContent class="list-content relative z-10" (mouseleave)="onMouseLeaveList()">
    <h2
      class="continent-header my-24 text-center text-2xl sm:my-32 md:my-48 md:text-3xl lg:text-4xl"
    >
      Browse Hotels by Continents
    </h2>
    <ul class="flex flex-col items-center gap-4 md:gap-8">
      <li
        #continentItem
        *ngFor="let continent of continents"
        class="continent-item"
        (mouseenter)="onContinentHover(continent)"
      >
        <span
          class="continent-name group text-4xl sm:text-6xl lg:text-8xl"
          [class.active]="hoveredContinent === continent"
          [class.inactive]="hoveredContinent !== continent && hoveredContinent !== null"
        >
          <span
            *ngFor="let char of continent.nameChars; let charIndex = index"
            class="char-span"
            [style.transition-delay]="charIndex * 0.05 + 's'"
          >
            {{ char === ' ' ? '&nbsp;' : char }}
          </span>

          <img
            *ngIf="hoveredContinent === continent"
            [src]="continent.svg"
            alt=""
            class="absolute h-12 w-12 transition-transform duration-300 ease-in-out group-hover:scale-105 sm:h-16 sm:w-16 md:h-20 md:w-20"
            [ngStyle]="svgPosition"
          />
        </span>
      </li>
    </ul>
  </div>
</div>
